@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v14-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/montserrat-v14-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v14-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
}

.container {
  width: 100%;
  background: rgba(224, 215, 215, 0.61);
}
.section {
  max-width: 1140px;
  max-height: 422.14px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tittle {
  width: 124.66px;
  height: 17.61px;
  padding-top: 18.56px;
}
.tittle_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: #000000;
}
.flex_1 {
  color: #000000;
}
.li_1 {
  text-decoration: none;
  color: #000000;
}

.li_1:hover {
  text-decoration: underline;
}

.li_2 {
  text-decoration: none;
  color: #000000;
}

.li_2:hover {
  font-weight: 600;
}

.flex_3,
.flex_4 {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* justify-content: space-between; */
}

.ul_3,
.ul_4 {
  align-items: flex-end;
}
.li_3_2 {
  margin-left: 70px;
  margin-top: 51px;
}

.li_4_2 {
  margin-bottom: 25px;
}

.li_3_2:hover,
.li_4_2:hover,
.li_4:hover,
.li_3:hover {
  opacity: 0.9;
}
